/**
 * Sky: Bullet
 */

.bullet {
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 4);
  border-radius: var(--border-radius);
  background: var(--code-background-color);
  font-size: 87.5%;
  text-align: center;
}
